<!-- Button for sellers information modal -->
<div class="fluid-button-div">
  <button type="button" class="btn btn-primary px-3 py-2" data-toggle="modal" data-target="#sellersInfo">
    <i class="fas fa-user"></i>
  </button>
</div>
<!-- End button for sellers information modal -->

<!-- Modal for sellers information  -->
<div class="modal fade right" id="sellersInfo">
  <div class="modal-dialog modal-full-height modal-left modal-notify info">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-info justify-content-start">
        <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        <p class="heading lead">بخش فروش امروز</p>
      </div>
      

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table" id="sellerInfoTable">
          <thead>
            <tr>
              <th class="text-center" scope="col ">
                <strong>
                  نام فروشنده
                </strong>
              </th>
              
              <th class="text-center" scope="col ">
                <strong>
                  ثبت شده(روزانه) 
                </strong>
               </th>
               <th class="text-center" scope="col ">
                  <strong>
                    وصول شده(ماهانه)
                  </strong>
                </th>
            </tr>
          </thead>
          <tbody>
          {% for seller in sellerRegisters %}
            <tr>
              <td class="text-center">{{seller.Name}}</td>
              <td class="text-center">
                {{seller.Registercount}}
              </td>
              <td class="text-center">
                {{seller.Collected}}
              </td>
            </tr>
          
          {% endfor %}
            
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      {# <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">بستن پنجره</button>
      </div> #}

    </div>
  </div>
</div>
<!-- End modal for sellers information  -->