{# Agent Chief Dashboard #}
<li class="nav-item">
    <a href="{{route('users.AgentChiefDashboard')}}" class="nav-link">
        <i class="fas fa-tachometer-alt "></i>
        <p>
        داشبورد
        </p>
    </a>
</li>
{# Agent Chief Dashboard #}