{#  orders #}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="far fa-calendar-plus"></i>
        <p>
            سفارشات
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{route('orders.UnverifiedOrderList')}}" class="nav-link">
            <i class="fas fa-chevron-circle-left"></i>
            <p> سفارشات تایید نشده</p>
            </a>
        </li>
    </ul>
</li>
{#  orders #}