{% if Agentpayments > 0 %}
    <a 
        href="{{route('userInventory.AgentUnverifiedPayment')}}" class="dropdown-item">
        <i class="fa fa-envelope ml-2"></i> 
        {{Agentpayments}}
        عدد پرداخت تایید نشده-نماینده ها
        {# <span class="float-left text-muted text-sm">3 دقیقه</span> #}
    </a>
{% endif %}
{% if Agentcosts > 0 %}
    <a 
        href="{{route('userInventory.AgentUnverifiedCosts')}}" class="dropdown-item">
        <i class="fa fa-envelope ml-2"></i> 
        {{Agentcosts}}
        عدد هزینه تایید نشده-نماینده ها
        {# <span class="float-left text-muted text-sm">3 دقیقه</span> #}
    </a>
{% endif %}