{% if notifs > 0 %}
    <a 
        href="{{route('storeRooms.mainReceive')}}"
        class="dropdown-item">
        <i class="fa fa-envelope ml-2"></i> 
        {{notifs}}
        ورودی تایید نشده
        {# <span class="float-left text-muted text-sm">3 دقیقه</span> #}
    </a>
{% endif %}