<!DOCTYPE html>
<html lan="fa">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
      {% block title%} {% endblock %}
  </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'Admin/Master/styles' %}
    {% block styles %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">

<!-- Preloader -->
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>



<div class="wrapper">

  {% block header %}{% endblock %}

  {% block sidebar %}{% endblock %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% block path %}{% endblock %}
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        {% block content %}{% endblock %}

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% block footer %}{% endblock %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

  {% include 'Admin/Master/scripts' %}
  {# Csrf Token #}
  <script>window.Laravel = {{ {'csrfToken': csrf_token()}|json_encode()|raw }}</script>
  {% block scripts %}{% endblock %}

<script>
  $(window).on('load', function() { // makes sure the whole site is loaded 
    $('#status').fadeOut(); // will first fade out the loading animation 
    $('#preloader').delay(100).fadeOut('slow'); // will fade out the white DIV that covers the website. 
    $('body').delay(100).css({'overflow':'visible'});
  })
</script>

</body>
</html>
