{% for order in orders %}

    <div class="modal fade" id="condition{{order.id}}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-success justify-content-start pb-0">
            <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
            <p class="heading lead"> 
            تعیین وضعیت
            </p>
          </div>

          <!-- Modal body -->
          <div class="modal-body text-center ">
            <form action="{{route('orders.AgentChangeOrderStatusDesc', order.id)}}" method="post" class="conditionAssignForm">
              <div class="row">
                <div class="col-6 text-right">
                  <h6>انتخاب حالات دیگر:</h6>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" class="waitingDelivery" value="7" name="condition" checked>
                    <label class="form-check-label" for="waitingDelivery">در انتظار تحویل</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" class="suspend" value="14" name="condition" >
                    <label class="form-check-label" for="suspend">معلق</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" class="cancel" value="13" name="condition">
                    <label class="form-check-label" for="cancel">کنسلی</label>
                  </div>
                </div>
                <div class="col-6 text-right">
                  <div class="waitingDeliveryField">
                    <label for="waitingDeliveryDesc">توضیحات:</label>
                    <textarea rows="10" cols="50" class="form-control" type="text"  name="status_desc" placeholder="توضیحات وضعیت سفارش"></textarea>
                  </div>
                  <div class="suspendField d-none">
                    <h6>انتخاب حالت تماس مجدد:</h6>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="عدم پاسخگویی"  name="status_desc">
                      <label class="form-check-label">عدم پاسخگویی</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="خارج از دسترس" name="status_desc" >
                      <label class="form-check-label">خارج از دسترس</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="dueDate" name="status_desc">
                      <label class="form-check-label">زمان سررسید</label>
                    </div>
                    <div class="dueDateFuild d-none">
                      <label>تاریخ: </label>
                      <input type="text" class="form-control persianDateTimepicker" name="dueDate">
                    </div>
                  </div>
                  <div class="cancelField d-none">
                    <h6>انتخاب حالت انصراف :</h6>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="قیمت بالا" name="status_desc">
                      <label class="form-check-label">قیمت بالا</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="کیفیت پایین" name="status_desc" >
                      <label class="form-check-label">کیفیت پایین</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="ناکارآمد بودن" name="status_desc">
                      <label class="form-check-label">ناکارآمد بودن </label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="برآورده نکردن خواسته ها" name="status_desc">
                      <label class="form-check-label">برآورده نکردن خواسته ها </label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value=" مزاحمت" name="status_desc" >
                      <label class="form-check-label">  مزاحمت</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="تماس دیروقت" name="status_desc">
                      <label class="form-check-label">تماس دیروقت </label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="خرید از مکان دیگر" name="status_desc">
                      <label class="form-check-label"> خرید از مکان دیگر</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="ثبت اطلاعات نامعتبر" name="status_desc" >
                      <label class="form-check-label">ثبت اطلاعات نامعتبر (فروشنده)  </label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" value="cancelDesc" name="status_desc">
                      <label class="form-check-label">توضیحات </label>
                    </div>
                    <div class="cancelDescField d-none">
                      <label for="cancelDesc">توضیحات:</label>
                        <textarea rows="10" cols="50" class="form-control " type="text"  name="status_desc" value="" placeholder="توضیحات دلیل کنسلی"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-12 text-center mt-5">
                  <button class="btn btn-info" type="button" name="button">
                    <strong class="">
                      اعمال
                    </strong>
                  </button>
                </div>
              </div>
            </from>


      </div>
</div>
{% endfor %}